<% i = 0%>
<% @goal.tasks.each do |task| %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= task.item %><br>
      <%= task.description %>
    </li>
  </ul>  
  <% i += 1%>
  <% unless i == @goal.tasks.count %>
    <hr style="color:black;">
  <% else %>
    <br>
  <% end %>
<% end %>