<% @goal.tasks.each do |task| %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= task.item %><br>
      <%= task.description %>
    </li>
  </ul>  
  <hr>
<% end %>